*{
  margin :0;
  padding :0;
  box-sizing: border-box;
}
#header{
  background-color: red
}
#porto-item-arcgis{
  background-color: blue
}
#porto-item-sketchup{
  background-color: purple
}
#porto-item-adobe{
  background-color: orange
}