*{
  margin :0;
  padding :0;
  box-sizing: border-box;
}
#header{
  background-color: red
}
#porto-item-arcgis{
  background-color: blue
}
#porto-item-sketchup{
  background-color: purple
}
#porto-item-adobe{
  background-color: orange
}
container{
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
 }
 .tekst-arcgis{
  grid-template-columns: 3;
  grid-template-rows: 1;
 }

